---
import { changeLanguage, t, setDefaultNamespace } from "i18next";
import MainLayout from "../../../layouts/MainLayout.astro";
import ErrorImage from "../../../assets/png/error.png";
import Title from "../../../components/shared/Title.astro";
import LinkButton from "../../../components/shared/LinkButton.astro";

changeLanguage("en");

setDefaultNamespace("contact");
---

<MainLayout noFollow title={t("error.pageTitle")}>
  <section class="error-container h-box-shadow">
    <figure class="h-drop-shadow error-container__image">
      <img src={ErrorImage} />
    </figure>
    <Title title={t("error.title")} subtitle={t("error.description")} />
    <div class="error-container__cta">
      <LinkButton label={t("error.cta")} dark to="contact" />
    </div>
  </section>
</MainLayout>
<style>
  @import "../../../../styles/media-queries.css";

  .error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-large-3);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: var(--space-large-4);
    &__image {
      width: 250px;
    }
    &__cta {
      display: flex;
      justify-content: center;
    }
  }
</style>
