---
import { Icon } from "astro-icon";
type HeroProps = {
  title: string;
  subtitle: string;
  description: string;
};

const { title, subtitle, description } = Astro.props as HeroProps;
---

<section class="hero h-box-shadow">
  <div>
    <article class="hero__content">
      <h1 class="hero__title">{title}</h1>
      <h3 class="hero__subtitle">{subtitle}</h3>
      <p class="hero__description">
        {description}
      </p>
    </article>
    <div class="hero__icons">
      <Icon pack="mdi" name="web" />
      <Icon pack="mdi" name="apple-ios" />
      <Icon pack="mdi" name="android" />
      <Icon pack="mdi" name="search-web" />
      <Icon pack="mdi" name="cart" />
      <Icon pack="mdi" name="cloud" />
    </div>
  </div>
</section>

<style>
  @import "../../../styles/media-queries.css";

  [astro-icon] {
    color: white;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: var(--space-medium);
    padding: var(--space-large-3);
    border-radius: var(--border-radius);
    color: var(--color-white);
    background-color: var(--color-black);
    z-index: -2;
    &::before {
      z-index: -1;
      background-repeat: no-repeat;
      background-position: -10% 88%;
      background-image: url("../../assets/png/waves.png");
      border-radius: var(--border-radius);
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
      width: 100%;
      height: 100%;
    }
    @media (--vp-media-tablet) {
      padding: var(--space-xl-large);
      &::before {
        background-position: -30% 90%;
        opacity: 0.6;
      }
    }
    @media (--vp-media-desktop) {
      &::before {
        background-position: -156% 98%;
        opacity: 0.9;
      }
    }
    &__content {
      width: 100%;
      @media (--vp-media-desktop) {
        width: 70%;
      }
    }
    &__icons {
      display: flex;
      justify-content: space-evenly;
      max-height: 34px;
    }

    &__title {
      line-height: 1;
      position: relative;
      margin-bottom: var(--space-medium);
      font-family: "bioticbold";
      font-size: 36px;
      z-index: 1;
      @media (--vp-media-tablet) {
        font-size: 42px;
      }
      @media (--vp-media-desktop) {
        font-size: 84px;
      }
    }
    &__subtitle {
      font-size: 24px;
      font-family: "bioticbold";
      margin-bottom: var(--space-medium);
      @media (--vp-media-tablet) {
        font-size: 28px;
      }
      @media (--vp-media-desktop) {
        font-size: 36px;
      }
    }
    &__description {
      font-size: 21px;
      margin-bottom: var(--space-large-2);
      @media (--vp-media-tablet) {
        font-size: 18px;
      }
      @media (--vp-media-desktop) {
        margin-bottom: var(--space-large-4);
        font-size: 21px;
      }
    }
  }
</style>
