---
import { LanguageSelector } from "astro-i18next/components";
---

<div>
  <LanguageSelector showFlag class="language-selector" />
</div>

<style>
  .language-selector {
    background-color: transparent;
    border: none;
    font-family: "bioticbold";
    color: var(--color-main);
  }
</style>
