---
import { Icon } from "astro-icon";
import { socialLinks } from "../../config/social";
---

<section class="social-links-container">
  {
    socialLinks.map((el) => (
      <a href={el.to} target="_blank">
        <Icon class="social-links-container__icon" pack="mdi" name={el.icon} />
      </a>
    ))
  }
</section>

<style>
  .social-links-container {
    display: flex;
    height: 32px;
    gap: 32px;

    &__icon {
      height: 24px;
      color: var(--color-white);
    }
  }
</style>
