---
import { routerResolver } from "../../utils/routerResolver";

type TextLinkPros = {
  label: string;
  to: string;
};

const { label, to } = Astro.props as TextLinkPros;
---

<a class="text-link" href={routerResolver(to)} target="_self">
  {label}
</a>

<style>
  .text-link {
    color: var(--color-main);
    font-family: "bioticbold";
  }
</style>
