---
import { changeLanguage, t, setDefaultNamespace } from "i18next";
import MainLayout from "../../layouts/MainLayout.astro";

changeLanguage("en");

setDefaultNamespace("contact");
---

<MainLayout title={t("content.title")}>
  <h1>{t("content.title")}</h1>
</MainLayout>
