---
import MainLayout from "../../layouts/MainLayout.astro";
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import Title from "../../components/shared/Title.astro";

changeLanguage("en");

type TextItem = {
  sectionTitle: string;
  description: string;
};
setDefaultNamespace("cookies");
const texts: TextItem[] = t("content.texts") as any;
---

<MainLayout title={t("title")} noFollow>
  <section class="cookies-page h-content-wrapper">
    <article class="cookies-page__title">
      <Title title={t("content.title")} />
    </article>
    {
      texts.map((el) => {
        return (
          <article class="cookies-page__text">
            <h3>{el.sectionTitle}</h3>
            <p>{el.description}</p>
          </article>
        );
      })
    }
  </section>

  <style>
    @import "../../../styles/media-queries.css";
    .cookies-page {
      &__title {
        margin-bottom: var(--space-medium);
      }
      &__text {
        margin-bottom: var(--space-large);
        h3 {
          font-family: "bioticbold";
          margin-bottom: var(--space-small-2);
        }
      }
    }
  </style>
</MainLayout>
