---
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import Title from "../../components/shared/Title.astro";
import MainLayout from "../../layouts/MainLayout.astro";

changeLanguage("en");

setDefaultNamespace("legal");
type TextItem = {
  text: string;
};
const texts: TextItem[] = t("content.texts") as any;
---

<MainLayout title={t("title")} noFollow>
  <section class="legal-page h-content-wrapper">
    <article class="legal-page__title">
      <Title title={t("content.title")} />
    </article>
    {
      texts.map((el) => {
        return (
          <article class="legal-page__text">
            <p>{el.text}</p>
          </article>
        );
      })
    }
  </section>
</MainLayout>

<style>
  @import "../../../styles/media-queries.css";
  .legal-page {
    &__title {
      margin-bottom: var(--space-medium);
    }
    &__text {
      margin-bottom: var(--space-large);
    }
  }
</style>
