---
import Title from "../../shared/Title.astro";

import WavesImage from "../../../assets/png/waves.png";

type ServiceProProps = {
  title: string;
  description: string;
};

const { title, description } = Astro.props as ServiceProProps;
---

<article class="service-pro h-box-shadow">
  <div class="service-pro__content">
    <Title
      dark
      title={title}
      subtitle={description}
      titleAlign="left"
      subtitleAlign="left"
    />
  </div>
  <figure class="service-pro__image">
    <img
      width="100%"
      height="100%"
      loading="lazy"
      src={WavesImage}
      alt="waves image"
    />
  </figure>
</article>

<style>
  @import "../../../../styles/media-queries.css";

  .service-pro {
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);
    justify-content: space-between;
    border-radius: var(--border-radius);
    padding: var(--space-large);
    @media (--vp-media-tablet) {
      flex-direction: row;
      padding: var(--space-medium-2) var(--space-large-4);
    }
    &__content {
      flex-basis: 100%;
      @media (--vp-media-tablet) {
        flex-basis: 50%;
      }
    }
    &__image {
      margin-top: var(--space-large);
      display: flex;
      justify-content: center;
      flex-basis: 50%;
      img {
        object-fit: contain;
        width: 252px;
        height: auto;
      }
      @media (--vp-media-tablet) {
        margin-top: 0;
      }
      @media (--vp-media-desktop) {
        display: flex;
        justify-content: center;
        flex-basis: 50%;
        img {
          object-fit: contain;
          width: 452px;
          height: auto;
        }
      }
    }
  }
</style>
