---
import ServiceItem from "./ServiceItem.astro";

type ServicesListProps = {
  items: {
    title: string;
    type: string;
    descripcion: string;
  }[];
};

const { items } = Astro.props as ServicesListProps;
---

<section class="services-list">
  {
    items.map((item, i) => {
      return <ServiceItem rightAlign={i % 2 !== 0} {...item} />;
    })
  }
</section>

<style>
  @import "../../../../styles/media-queries.css";

  .services-list {
    margin-top: 86px;
  }
</style>
