---
import Title from "../../shared/Title.astro";

import WebImage from "../../../assets/png/web.png";
import AppImage from "../../../assets/png/apps.png";
import EcommerceImage from "../../../assets/png/eccomerce.png";
import SeoImage from "../../../assets/png/seo.png";
import DesignImage from "../../../assets/png/design.png";
import LegalImage from "../../../assets/png/legal.png";

type ServiceItemProps = {
  title: string;
  type: string;
  description: string;
  rightAlign: boolean;
};

const { title, description, rightAlign, type } = Astro.props as ServiceItemProps;

const servicesStylesMap: { [key: string]: { image: string; alt: string } } = {
  web: {
    image: WebImage,
    alt: "Web image with transparency kokua service",
  },
  seo: {
    image: SeoImage,
    alt: "Seo image with transparency kokua service",
  },
  design: {
    image: DesignImage,
    alt: "Design image with transparency kokua service",
  },
  ecommerce: {
    image: EcommerceImage,
    alt: "Ecommerce image with transparency kokua service",
  },
  apps: {
    image: AppImage,
    alt: "App image with transparency kokua service",
  },
  legal: {
    image: LegalImage,
    alt: "Legal image with transparency kokua service",
  },
};
---

<article class="service-item" class:list={{ "service-item--reverse": rightAlign }}>
  <div class="service-item__content">
    <Title title={title} titleAlign="left" subtitleAlign="left" subtitle={description} />
  </div>
  <figure class="service-item__image h-drop-shadow">
    <img
      width="100%"
      height="100%"
      loading="lazy"
      src={servicesStylesMap[type].image}
      alt={servicesStylesMap[type].alt}
      srcset=""
    />
  </figure>
</article>

<style>
  @import "../../../../styles/media-queries.css";

  .service-item {
    margin-bottom: 116px;
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-medium);
    @media (--vp-media-tablet) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    @media (--vp-media-desktop) {
      flex-direction: row;
      padding: var(--space-medium-2) var(--space-large-4);
    }
    &--reverse {
      @media (--vp-media-tablet) {
        flex-direction: row-reverse;
      }
    }
    &__content {
      @media (--vp-media-tablet) {
        flex-basis: 45%;
      }
      @media (--vp-media-desktop) {
        flex-basis: 45%;
      }
    }
    &__image {
      display: flex;
      justify-content: center;
      img {
        object-fit: contain;
        width: 312px;
        height: auto;
      }
      @media (--vp-media-desktop) {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        img {
          object-fit: contain;
          width: 512px;
          height: auto;
        }
      }
    }
  }
</style>
