---
import i18next from "i18next";
import KokuaLabsLogo from "../shared/KokuaLabsLogo.astro";
import { navigationItems } from "../../config/navigation";
import LanguageSelector from "./LanguageSelector.astro";

const lang = i18next.language;
const homePath = i18next.resolvedLanguage === "es" ? "/" : `/${i18next.resolvedLanguage}`;
const currentPagePath = Astro.url.pathname;
---

<header class="h-content-wrapper nav-bar-container">
  <nav class="nav-bar-container__nav">
    <a href={homePath}>
      <KokuaLabsLogo width="140px" />
    </a>

    <ul class="nav-bar-container__nav-items">
      {
        navigationItems[lang].map(({ label, to }) => (
          <li
            class="nav-bar-container__nav-item"
            class:list={{ "nav-bar-container__nav-item--selected": currentPagePath === to }}
          >
            <a class="nav-bar-container__nav-link" href={to}>
              {label}
            </a>
          </li>
        ))
      }
      <LanguageSelector />
    </ul>
  </nav>
</header>

<style>
  .nav-bar-container {
    margin-top: var(--space-medium) !important;
    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__nav-items {
      display: flex;
      align-items: center;
      gap: var(--space-medium);
    }
    &__nav-item {
      font-family: "bioticbold";
      padding: var(--space-small) var(--space-small-2);
      &--selected {
        /* TODO */
      }
    }
    &__nav-link {
      color: var(--color-text);
    }
  }
</style>

<script>
  /* Detects when user use a mobile device */
  const navBar = document.querySelector(".nav-bar-container__nav-items") as HTMLUListElement;

  const toggleMenuNavBar = (screenWidth: number): void => {
    if (screenWidth < 600) {
      navBar.classList.add("nav-bar-container__nav-items--hide");
    } else {
      navBar.classList.remove("nav-bar-container__nav-items--hide");
    }
  };

  toggleMenuNavBar(window.innerWidth);

  window.onresize = () => {
    toggleMenuNavBar(window.innerWidth);
  };
</script>
