---
import { LanguageSelector } from "astro-i18next/components";
import i18next from "i18next";
import KokuaLabsLogo from "../shared/KokuaLabsLogo.astro";

const homePath = i18next.resolvedLanguage === "es" ? "/" : `/${i18next.resolvedLanguage}`;
---

<header class="nav-bar-container h-content-wrapper">
  <nav>
    <a href={homePath}>
      <KokuaLabsLogo />
    </a>
  </nav>
  <LanguageSelector showFlag={true} languageMapping={{ en: "Anglais" }} class="my-select-class" />
</header>

<style>
  svg {
    fill: red;
  }
  .nav-bar-container {
    display: flex;
    justify-content: space-between;
  }
</style>
