---
import { LanguageSelector } from "astro-i18next/components";
import i18next from "i18next";

const homePath = i18next.resolvedLanguage === "es" ? "/" : `/${i18next.resolvedLanguage}`;
---

<header class="nav-bar h-content-wrapper">
  <nav>
    <a href={homePath}>
      <figure class="nav-bar__brand-wrapper">
        <img class="navbar__brand-logo" src="./logo.svg" alt="company logo" />
      </figure>
    </a>
  </nav>
  <LanguageSelector showFlag={true} languageMapping={{ en: "Anglais" }} class="my-select-class" />
</header>

<style>
  .nav-bar {
    display: flex;
    justify-content: space-between;

    &__brand-wrapper {
      width: 200px;
    }
    &__brand-logo {
      width: 100%;
      height: auto;
    }
  }
</style>
