---
import Title from "../shared/Title.astro";

type AboutProps = {
  title: string;
  cta: string;
  texts: string[];
};

import bgImage from "../../assets/png/waves.png";
import LinkButton from "../shared/LinkButton.astro";

const { title, cta, texts } = Astro.props as AboutProps;
---

<section class="about-container">
  <div style={{ backgroundImage: `url(${bgImage})` }} class="about-container__content">
    <Title dark title={title} titleAlign="left" />
    <article class="about-container__text">
      {texts.map((text) => <p>{text}</p>)}
    </article>
    <LinkButton to="contact" label={cta} />
  </div>
</section>

<style>
  @import "../../../styles/media-queries.css";

  .about-container {
    margin-top: 86px;
    @media (--vp-media-desktop) {
      margin-top: 156px;
    }

    &__content {
      border-radius: var(--border-radius);
      background-color: var(--color-black);
      padding: var(--space-medium-2);
      background-repeat: no-repeat;
      background-position: -20% 75%;
      @media (--vp-media-tablet) {
        background-position: -90% 25%;
      }
      @media (--vp-media-desktop) {
        padding: var(--space-large-2);
        background-position: -208% 75%;
      }
    }

    &__text {
      font-size: 16px;
      margin: var(--space-large) 0 var(--space-large-3) 0;
      color: var(--color-white);
      p {
        margin-bottom: var(--space-medium-2);
      }
      @media (--vp-media-tablet) {
        font-size: 18px;
      }
      @media (--vp-media-desktop) {
        font-size: 21px;
        line-height: 1.3;
        width: 75%;
      }
    }
  }
</style>
