---
import Title from "../shared/Title.astro";
---

<section class="about-container h-content-wrapper">
  <Title title="Sobre kokua" />
</section>

<style>
  @import "../../../styles/media-queries.css";

  .about-container  {
    margin-top: 86px !important;
    @media (--vp-media-desktop) {
      margin-top: 156px !important;
    }
  }
</style>
