---
import Title from "../shared/Title.astro";
---

<section class="about-container h-content-wrapper">
  <Title title="Sobre kokua" />
</section>

<style>
  .about-container  {
    margin-top: 156px !important;
  }
</style>
