---
type BannerProps = { title: string; subtitle: string };

const { title, subtitle } = Astro.props as BannerProps;
---

<section class="banner-container">
  <div class="h-content-wrapper banner-container__content">
    <h2 class="banner-container__title">{title}</h2>
    <p class="banner-container__subtitle">{subtitle}</p>
  </div>
</section>

<style>
  .banner-container {
    margin-top: var(--space-xl-large);
    background-color: #deefff;
    text-align: center;
    padding: var(--space-large-4) 0;
    &__title {
      margin-bottom: var(--space-medium);
      font-family: "bioticbold";
      font-size: 32px;
    }
    &__subtitle {
    }
  }
</style>
