---
---

<section class="cta-container">
  <p>djkdjd</p>
</section>

<style>
  .cta-container  {
    background: var(--color-main);
    height: 300px;
  }
</style>
<script>
  ScrollReveal().reveal("cta-container");
</script>
