---
import Title from "../shared/Title.astro";
import { contactTopis } from "../../config/contact-topics";
import i18n from "i18next";
const lang = i18n.language;
---

<article class="contact-form h-box-shadow">
  <div class="contact-form__title">
    <Title title="¡Queremos estar en tu equipo!" />
  </div>
  <form id="form" action="">
    <input id="name" required type="text" placeholder="Nombre 🥶" />
    <input id="email" required type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="E-mail 🫡" />
    <select id="topic" required name="categorias">
      {
        contactTopis[lang].map((el) => {
          return <option value={el.value}>{el.label}</option>;
        })
      }
    </select>
    <textarea id="description" placeholder="Describe 👿"></textarea>
    <p>
      <input required type="checkbox" id="terms" />
      <label for="terms">
        Al enviar este formulario, aceptas que nosotros podamos utilizar tus datos de contacto para responder a tu
        solicitud. Tus datos serán tratados de forma confidencial y no serán compartidos con terceros sin tu
        consentimiento.
      </label>
    </p>
    <div class="contact-form__submit">
      <button type="submit">enviar</button>
    </div>
  </form>
</article>

<style>
  .contact-form  {
    background-color: var(--color-white);
    padding: var(--space-large);
    border-radius: var(--border-radius);
    &__title {
      margin-bottom: var(--space-large);
    }
    &__submit {
      display: flex;
      justify-content: flex-end;
      margin-top: var(--space-large);
    }
  }
  input,
  textarea,
  select {
    margin-bottom: var(--space-large);
  }
</style>

<script>
  const form = document.getElementById("form") as HTMLFormElement;

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const name = form.elements.name.value;
    const email = form.elements.email.value;
    const topic = form.elements.topic.value;
    const description = form.elements?.description.value;

    console.log(name, email, topic, description);
  });
</script>
