---
import Title from "../shared/Title.astro";
---

<article class="contact-form">
  <div>
    <Title title="隆Queremos estar en tu equipo!" />
  </div>
  <form action="">
    <input required type="text" placeholder="Nombre ザ" />
    <input required type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="E-mail " />
    <select required name="categorias">
      <option> </option>
      <option value="opcion1">Opci贸n 1</option>
      <option value="opcion2">Opci贸n 2</option>
      <option value="opcion3">Opci贸n 3</option>
      <option value="opcion4">Opci贸n 4</option>
    </select>
    <textarea placeholder="Describenos "></textarea>
    <p>
      <input type="checkbox" id="terms" />
      <label for="terms"
        >Al enviar este formulario, aceptas que nosotros podamos utilizar tus datos de contacto para responder a tu
        solicitud. Tus datos ser谩n tratados de forma confidencial y no ser谩n compartidos con terceros sin tu
        consentimiento.</label
      >
    </p>

    <button type="submit">enviar</button>
  </form>
</article>

<style>
  .contact-form {
    background-color: var(--color-white);
    padding: var(--space-large);
    border-radius: var(--border-radius);
  }
  input,
  textarea,
  select {
    margin-bottom: var(--space-large);
  }
</style>
