---
import { navigationItems } from "../config/navigation";
import i18next from "i18next";
import SocialLinks from "./shared/SocialLinks.astro";
import KokuaLabsLogo from "./shared/KokuaLabsLogo.astro";

const lang = i18next.language;
---

<footer class="footer h-content-wrapper">
  <section class="footer__content">
    <nav>
      <ul>
        {
          navigationItems[lang]
            .filter((el) => el.inFooter)
            .map((el) => (
              <li class="footer__link-wrapper">
                <a class="footer__link" href={el.to}>
                  {el.label}
                </a>
              </li>
            ))
        }
      </ul>
    </nav>
    <article class="footer__social">
      <KokuaLabsLogo dark width="150px" />
      <SocialLinks />
    </article>
    <article class="footer__right">
      <a class="footer__link" href="mailto:hello@kokualabs.com"
        >hello@kokualabs.com</a
      >
    </article>
  </section>
</footer>

<style>
  @import "../../styles/media-queries.css";

  .footer {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 86px;
      justify-content: space-between;

      background: linear-gradient(-90deg, #00b4d8, #004cff);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      padding: var(--space-large-2) var(--space-large);
      @media (--vp-media-tablet) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      @media (--vp-media-desktop) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 156px;
      }
    }
    &__link-wrapper  {
      margin-bottom: var(--space-small-2);
    }
    &__link {
      color: var(--color-white);
      font-family: "bioticbold";
      font-size: 12px;
      @media (--vp-media-tablet) {
        font-size: 14px;
      }

      @media (--vp-media-desktop) {
        font-size: 16px;
      }
    }

    &__right {
      text-align: left;
      display: none;
      @media (--vp-media-tablet) {
        display: block;
      }
      @media (--vp-media-desktop) {
        display: block;
        text-align: right;
      }
    }
    &__social {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      margin: var(--space-large) auto 0;
      gap: var(--space-small-2);
      margin-top: ;
      @media (--vp-media-tablet) {
        order: 0;
        margin: 0;
        gap: var(--space-large);
      }
      @media (--vp-media-desktop) {
        order: 0;
        margin: 0;
        gap: var(--space-large);
      }
    }
  }
</style>
