---
import { navigationItems } from "../config/navigation";
import i18next from "i18next";
import SocialLinks from "./shared/SocialLinks.astro";
import KokuaLabsLogo from "./shared/KokuaLabsLogo.astro";

const lang = i18next.language;
---

<footer class="footer h-content-wrapper">
  <div class="footer__belt h-box-shadow">
    <section class="footer__content">
      <nav>
        <ul>
          {
            navigationItems[lang]
              .filter((el) => el.inFooter)
              .map((el) => (
                <li class="footer__link-wrapper">
                  <a class="footer__link" href={el.to}>
                    {el.label}
                  </a>
                </li>
              ))
          }
        </ul>
      </nav>
      <article class="footer__right">
        <a class="footer__link" href="mailto:hello@kokualabs.com"
          >hello@kokualabs.com</a
        >
      </article>
    </section>
    <article class="footer__social">
      <SocialLinks />
      <KokuaLabsLogo dark width="150px" />
    </article>
  </div>
</footer>

<style>
  @import "../../styles/media-queries.css";

  .footer {
    &__belt {
      background: linear-gradient(-90deg, #00b4d8, #004cff);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      padding: var(--space-large) var(--space-large) 0 !important;
      width: 100%;
      @media (--vp-media-tablet) {
        padding: 0 var(--space-large-3);
        align-items: center;
      }
    }
    &__link-wrapper  {
      margin-bottom: var(--space-small-2);
    }
    &__link {
      color: var(--color-white);
      font-family: "bioticbold";
      font-size: 12px;
      @media (--vp-media-tablet) {
        font-size: 14px;
      }

      @media (--vp-media-desktop) {
        font-size: 16px;
      }
    }

    &__right  {
      text-align: left;
      @media (--vp-media-desktop) {
        text-align: right;
      }
    }
    &__social {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--space-medium);
      padding-bottom: var(--space-medium);
    }
  }
</style>
