---
import icon3D from "../../assets/png/3d-icon.png";
---

<footer class="h-content-wrapper">
  <section class="footer__content h-box-shadow">
    <p>kddkkd</p>
    <article>
      <figure>
        <img src={icon3D} alt="3d kokua icon" />
      </figure>
    </article>
  </section>
</footer>

<style>
  .footer  {
    &__content  {
      border-radius: var(--border-radius);
      background: linear-gradient(-90deg, #00b4d8, #004cff);
      padding: var(--space-xl-large);
      height: ;
    }
  }
</style>
