@font-face {
  font-family: "bioticlight";
  src: url("/fonts/biotic-extralight-webfont.woff2") format("woff2"),
    url("/fonts/biotic-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bioticbold";
  src: url("/fonts/biotic-bold-webfont.woff2") format("woff2"),
    url("/fonts/biotic-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bioticregular";
  src: url("/fonts/biotic-regular-webfont.woff2") format("woff2"),
    url("/fonts/biotic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rykerbold";
  src: url("/fonts/fontspring-ryker-bold-webfont.woff2") format("woff2"),
    url("/fonts/fontspring-ryker-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
