h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "rykerbold";
  margin: 0;
  padding: 0;
}
span,
p {
  margin: 0;
  padding: 0;
  font-family: "biotic";
  font-size: 24px;
}
body {
  margin: 0;
}

figure {
  margin: 0;
}

h1  {
  font-size: 64px;
}
