/* BMG Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg);
  font-family: "bioticregular";
  color: var(--color-text);
}

main {
  min-height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

a,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

input[type="email"],
input[type="text"] {
  border-radius: var(--border-radius);
  border: none;
  height: 48px;
  width: 100%;
  padding: 0 30px;
  border: 1px solid var(--color-main);
  font-size: 21px;
}

input::placeholder  {
  font-size: 21px;
}

button[type="submit"] {
  display: block;
  font-family: "rykerbold";
  box-shadow: 11px 17px 27px -5px rgba(0, 0, 0, 0.25);
  background-color: var(--color-main);
  border-radius: var(--border-radius);
  border: none;
  padding: var(--space-medium) var(--space-medium-2);
  color: var(--color-white);
  width: fit-content;
  text-align: center;
  font-size: 21px;
}
textarea {
  width: 100%;
  border-radius: var(--border-radius);
  border: none;
  resize: none;
  height: 148px;
  padding: 30px;
  font-size: 21px;
  border: 1px solid var(--color-main);
}

form > select {
  border-radius: var(--border-radius);
  border: none;
  height: 48px;
  width: 100%;
  padding: 0 30px;
  border: 1px solid var(--color-main);
  font-size: 21px;
}
textarea::placeholder  {
  font-size: 21px;
}
