.h-content-wrapper {
  max-width: var(--max-screen-content);
  margin: 0 auto;
  padding: 0 16px;
}

.h-box-shadow {
  box-shadow: 11px 17px 27px -5px rgba(0, 0, 0, 0.25);
}

.h-drop-shadow {
  filter: drop-shadow(14px 14px 14px rgba(0, 0, 0, 0.3));
}
