---
export interface LayoutProps {
  title: string;
  description: string;
  noFollow?: boolean;
}
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro";
import i18next from "i18next";
import GoogleAnalytics from "../components/shared/GoogleAnalytics.astro";
import { HeadHrefLangs } from "astro-i18next/components";

const { title, description, noFollow = false } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <script src="https://cmp.osano.com/16CPMHTaP5vwf6E8/fa3a58af-584e-44c8-81e9-68e8c356ad13/osano.js"></script>
    <meta name="author" content="Bruno Martínez" />
    <meta name="description" content={description || ""} />
    <link rel="icon" type="mage/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="sitemap" type="application/xml" href="/sitemap-0.xml" />
    {!noFollow && <meta name="robots" content="index,follow" />}
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.site?.href} />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="kokua | labs" />
    <meta name="keywords" content="agencia, consultoría, desarrollo, Madrid, web, apps, ecommerce, seo, legal" />
    <meta property="og:image" content="https://www.kokualabs.com/images/icon.png" />
    <HeadHrefLangs />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  </head>
  <body>
    <GoogleAnalytics />
    <Header />
    <main class="h-content-wrapper animate__animated animate__fadeIn">
      <slot />
    </main>
    <Footer />
    <style is:global>
      @import "../../styles/main.css";
    </style>
  </body>
</html>
