---
export interface LayoutProps {
  title: string;
  description: string;
}
import { SEO } from "astro-seo";
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro";
import i18next from "i18next";
import GoogleAnalytics from "../components/shared/GoogleAnalytics.astro";
import { HeadHrefLangs } from "astro-i18next/components";
import CookiesConsent from "../components/CookiesConsent.astro";
const { title, description } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <HeadHrefLangs />
    <meta property="og:title" content="Kokua | Labs" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/logo.png" />
    <meta property="og:url" content={Astro.site?.href} />
    <SEO
      title={title}
      description={description}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg", type: "mage/svg+xml" }],
        link: [{ rel: "sitemap", href: "/sitemap-0.xml" }],
      }}
    />
  </head>
  <body>
    <GoogleAnalytics />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <CookiesConsent />
    <style is:global>
      @import "../../styles/main.css";
    </style>
  </body>
</html>
