---
export interface LayoutProps {
  title: string;
}

import i18next from "i18next";
import GoogleAnalytics from "../components/shared/GoogleAnalytics.astro";
import PlanetImage from "../assets/png/planet.png";
import LinkButton from "../components/shared/LinkButton.astro";
const { title } = Astro.props as LayoutProps;
import { Icon } from "astro-icon";
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <GoogleAnalytics />
    <main class="not-found-layout-content">
      <figure class="not-found-layout-content__image">
        <img height="100%" width="100%" src={PlanetImage} alt="planet image not found page kookua labs " />
      </figure>
      <h1 class="not-found-layout-content__title">NOT FOUND</h1>
      <LinkButton to="/" label="Volver" />
    </main>
  </body>
</html>

<style>
  @import "../../styles/main.css";

  .not-found-layout-content {
    background-color: var(--color-main);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "bioticbold";
    gap: var(--space-large);
    &__image {
      height: 200px;
      width: 200px;
    }
  }
</style>
