---
export interface LayoutProps {
  title: string;
}

import i18next from "i18next";
import GoogleAnalytics from "../components/shared/GoogleAnalytics.astro";

const { title } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <GoogleAnalytics />
    <main class="not-found-layout-content">
      <h1 class="not-found-layout-content__title">NOT FOUND</h1>
    </main>
  </body>
</html>

<style>
  @import "../../styles/main.css";
  .not-found-layout-content {
    padding: 96px 32px;
    background-color: var(--color-main);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    text-align: center;
  }
</style>
