---
type ParkingLayoutProps = {
  title: string;
};

const { title } = Astro.props as ParkingLayoutProps;

import i18next from "i18next";
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <main class="parking-layout-content-container">
      <slot />
    </main>
  </body>
</html>

<style>
  @import "../../styles/main.css";

  .parking-layout-content-container {
    background-color: var(--color-main);
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
